@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

$grad: linear-gradient(105deg, rgba(175,63,245,1) 0%, rgba(164,239,110,1) 0%, rgba(228,253,49,1) 0%, rgba(231,104,213,1) 52%, rgba(68,248,188,1) 100%, rgba(175,63,245,1) 0%, rgba(164,239,110,1) 0%, rgba(228,253,49,1) 0%, rgba(231,104,213,1) 52%, rgba(68,248,188,1) 100%, rgba(175,63,245,1) 0%, rgba(164,239,110,1) 0%, rgba(228,253,49,1) 0%, rgba(231,104,213,1) 52%, rgba(68,248,188,1) 100%, rgba(175,63,245,1) 0%, rgba(164,239,110,1) 0%, rgba(228,253,49,1) 0%, rgba(231,104,213,1) 52%, rgba(68,248,188,1));


.grad {
    background: $grad;
}

html {
    background-color: #111111;
    scroll-behavior: smooth;
}

#root{
    background-color: #111111;
}

* {
   font-family: 'Cabin', sans-serif;
}

.card-grad {
    background-image: $grad;
    padding: 3px;
}

.dark-bg {
    background-color:  #111111;
}

a   {
    color: #af3ff5;
    text-decoration: none;
}

a:hover {
    color: #7c2dad;
}

.icon-hover:hover {
    cursor: pointer;
}

#big-m {
    animation-timing-function: ease-in-out;
}

.card-shadow {
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
}

.img2 img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #222222;
    margin-top: 20px;
}

.socials {
    margin-bottom: 20px;
}

.bob-down {
    text-align: center;
    position: relative;
    top: 2px;
    right: 0px;
    -webkit-animation: mover 5s  alternate infinite;
    animation: mover 5s alternate infinite;
    
  }
// BOBBING ANIMATION
  @-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(2rem); }
  }

  @keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(2rem); }
  }

// FADE ANIMATION
  @keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 3s;
    animation-fill-mode: both;
    -webkit-animation-duration: 3s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

// CUSTOM SCROLL BAR
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #111111;
}